/* 
Author: Izzy Harker
Date updated: 3/9/24
Description: Contains styling information for ChoreContainer.jsx and ChoreList.jsx 
*/

.chore-container {
    flex: 1;
    display: flex;
    flex: 3;
    flex-direction: column;
    /* border: 2px solid red; */
    flex-shrink: 0;
    flex-wrap: wrap;
    gap: 1em;
    padding: 1em;
    justify-content: left;

    /* border: 2px solid green; */
}

.chore-list {
    display: flex;
    flex-direction: column;
    /* flex: 1; */
}

.chore-title {
    /* flex: 1; */
    padding: 0 2em;
}

.chore-cards {
    display: inline-flex;
    padding: 1.5em;
    /* flex: 9; */
    gap: 1em;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.chore-card {
    background-color: rgb(232, 232, 232);
    flex: 1;
    /* gap: -1em; */

    min-width: max(25%, 200px);
    max-width: 40%;

    /* height: auto; */
    /* max-height: 15em; */
    border: 5px solid #125212;
    border-radius: 10%;
    text-align: center;
    padding-top: 1em;

    box-shadow: 6px 6px 8px #125212;

    transition: all 0.3s ease-out;
}

.chore-card:hover {
    translate: 0% -5%;
}

.chore-card h1 {
    padding-top: 0;
    /* padding-bottom: 1em; */
    margin: 0 5%;
    /* height: 10%; */
    font-size: 1.5em;
}

.chore-card div {
    /* height: 10%; */
    padding-bottom: 1em;
    margin: 0 5%;
}

.chore-card button {
    border: 2px solid #00b300;
    margin-bottom: 1em;
}

/*
light green: #00b300
dark green: #125212
purple: #8592dd
dark gray: #202020
whiteish: #d7e3d4
*/